.login-area {
    margin-top: 15%;
}

.file-viewer {
    width: 800px;
    height: 600px;
}

/* @media (min-width: 994px) {
    .element-center {
        margin: 0%;
        margin-left: 15%;
        margin-top: 15%;
        
    }

    .border {
        border: 1px black solid;
        border-radius: 10px;
    }
} */