#searchPanel {
    /* margin-left: 290px; */
    position: fixed;
    bottom: -20px;
    /* width: calc(100% - 290px); */
    right: 0;
    height: 85%;
    padding: 10px;
    border: solid 1px;
    box-shadow: #888888 3px 1px 6px 0px;
    background: white;
    display: flex;
    flex-direction: column; 
}

.head {
    top: 0;
}

    .head .close {
        float: right;
        margin-right: 15px;
    }

    .head select {
        width: 60vw;
        float: left;
    }

.footer {
    bottom: 3vh;
    position: fixed;
}

.body {
    overflow: scroll;
    min-height: 65vh;
    max-height: 65vh;
}

.excludeItem {
    float: right;
    margin-top: -8px;
}

@media (max-width: 768px) {
    #searchPanel {
        padding: initial;
        margin-left: -11px;
        width: 100%;
    }
}
