body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#bottom-panel {
  border: solid 1px #eee;
  margin-bottom: 0;
  margin-top: 80%;
}

.content {
  padding-left: 300px;
}

@media only screen and (min-width : 992px) {
  .side-nav {
    top: 65px; 
  }
  
}

@media only screen and (max-width : 992px) {
  .content {
    padding-left: 0;
  }
  #file-viewer{
    width: 300px!important;
  }
  
}

.close-view {
  position: absolute;
  cursor: pointer;
}

.field-name {
  font-weight: bold;
}

.modal-fields {
  margin-left: 302px!important;
  width: calc(100% - 302px)!important;
}

.tree-classic > ul > li > i.tree-branch-head {
  background: url(../image/database.png) no-repeat !important;
  
}