<div class="content" ng-controller="container">
    <table class="bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Criação</th>
                <th>Data de Modificação</th>
            </tr>
        </thead>
        <tbody>
            <tr class="modal-trigger" href="#fields" ng-repeat="file in list.files">
                <a data-activates="slide-out">
                    <td>{{file.name}}</td>
                    <td>{{file.age}}</td>
                    <td>{{file.files.length}}</td>
                </a>
            </tr>
        </tbody>
    </table>
</div>