<div class="content flex-column" ng-controller="container">
    <nav id="tools" style="display: none">
        <div class="nav-wrapper teal">
            <ul id="nav-mobile" class="left">
                <li>
                    <a href="" data-position="bottom" data-delay="50" data-tooltip="Adicionar Pasta" class="tooltipped" ng-click="createFolder()">
                        <i class="material-icons">create_new_folder</i>
                    </a>
                </li>
                <li>
                    <a href="" data-position="bottom" data-delay="50" data-tooltip="Adicionar Arquivo" class="tooltipped" ng-click="addFile()">
                        <i class="material-icons">file_upload</i>
                    </a>
                </li>
                <li>
                    <a href="" data-position="bottom" data-delay="50" data-tooltip="Adicionar Base" class="tooltipped" ng-click="newBase()">
                        <i class="material-icons">view_agenda</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div ng-if="list.items" class="flex-row">
        <table class="bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Data de Criação</th>
                    <th>Informações Adicionais</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list.items">
                    <td ng-if="item.items" class="flex-icon clickable-icon folder-closed" ng-click="expandTree(item)"></td>
                    <td ng-if="item.fields" class="flex-icon clickable-icon file-icon" ng-click="expandTree(item)"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.createdAt}}</td>
                    <td ng-if="item.fields">{{item.fields.length}} Campos</td>
                    <td ng-if="item.items">{{item.items.length}} Arquivos</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="list.fields" class="flex-row">
        <div class="flex-item full-width">
            <table class="bordered" id="info-fields">
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="field in list.fields">
                        <td>{{field.name}}</td>
                        <td>{{field.value}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dock" ng-show="!dockVisible">
            <button class="btn" ng-click="hideDock()">
                <i class="material-icons">chevron_left</i>
            </button>
        </div>
        <div class="dock expanded" ng-show="dockVisible">
            <div class="dock-toolbar">
                <button class="btn" ng-click="hideDock()">
                    <i class="material-icons">chevron_right</i>
                </button>
            </div>
            <img src="{{list.file}}" alt="" class="materialboxed">
        </div>
    </div>
</div>