<div class="flex-column" ng-controller="container">
    <div class="content" ng-style="containerWidth">
        <div ng-if="list.items" class="flex-row">
            <table class="bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Data de Criação</th>
                        <th>Informações Adicionais</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list.items">
                        <td ng-if="item.type == 'folder'" class="flex-icon clickable-icon folder-closed" ng-click="expandTree(item)"></td>
                        <td ng-if="item.type == 'item'" class="flex-icon clickable-icon file-icon" ng-click="expandTree(item)"></td>
                        <td>{{item.name}}</td>
                        <td colspan="2">{{item.createdAt}}</td>
                        <!-- <td ng-if="item.fields">{{item.fields.length}} Campos</td>
                        <td ng-if="item.items">{{item.items.length}} Arquivos</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="list.fields" class="flex-row">
            <div class="flex-item full-width">
                <table class="bordered" id="info-fields">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in list.fields">
                            <td>{{field.name}}</td>
                            <td>{{field.value}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="dock expanded" resizable r-directions="['left']" rNoThrottle>
                <img src="{{imageUrl}}" alt="" class="materialboxed" ng-if="image"  class="file-viewer"/>
                <embed src="{{pdfUrl}}" type="application/pdf" ng-if="pdf" class="file-viewer"/>
                <embed src="{{textUrl}}" type="text/plain" ng-if="txt" class="file-viewer"/>
                <div class="card-panel teal lighten-2" ng-if="fileLoadError">{{fileLoadError}}</div>
            </div>
        </div>
    </div>
</div>