<div ng-controller="fileViewer">
    <div>{{dockVisible}}</div>
    <div ng-if="dockVisible">
        <div class="dock" resizable r-directions="['left']" rNoThrottle>
            <img src="{{imageUrl}}" alt="" class="materialboxed" ng-if="image" class="file-viewer" />
            <embed src="{{pdfUrl}}" type="application/pdf" ng-if="pdf" class="file-viewer" />
            <embed src="{{textUrl}}" type="text/plain" ng-if="txt" class="file-viewer" />
            <div class="card-panel teal lighten-2" ng-if="fileLoadError">{{fileLoadError}}</div>
        </div>
    </div>
</div>