<div ng-controller="searchPanel">
    <div ng-show="visible" id="searchPanel" ng-style="searchPanelWidth">
        <div class="head">
            <button class="btn red close" ng-click="hidePanel()">
                <i class="material-icons">close</i>
            </button>
            <select class="browser-default" ng-model="searchType" ng-change="selectSearchTypeChange()">
                <option value="" disabled selected>Escolha um tipo de pesquisa</option>
                <option value="0">Por Índice</option>
                <option value="1">Textual</option>
            </select>
        </div>
        <div class="body">
            <div class="col s12" ng-show="searchType == '0'">
                <p>Caso deseje adicionar mais de um valor por campo, separe cada um utilizando um "e comercial" (&)</p>
                <div class="row">
                    <div class="col s3">
                        <label for="fieldName">Nome do Campo</label>
                        <input type="text" class="searchInput" ng-model="fieldName" name="fieldName" list="fieldsName">
                    </div>
                    <div class="col s6">
                        <label for="fieldValue">Valor</label>
                        <input type="text" class="searchInput" ng-model="fieldValue" name="fieldValue">
                    </div>
                    <div class="col s3">
                        <button class="btn" ng-click="addField()">Adicionar</button>
                    </div>
                </div>
                <div class="row">
                    <ul class="collection">
                        <li ng-repeat="par in searchParameters" class="collection-item">
                            {{par.fieldName}} - {{par.fieldValue}}
                            <a href ng-click="excludeItem()" class="btn red close excludeItem">x</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="input-field col s12" ng-show="searchType == '1'">
                <i class="material-icons prefix">search</i>
                <label for="">Pesquisa</label>
                <input type="text" ng-model="fullTextSearchParameter">
            </div>

        </div>
        <div class="footer">
            <div class="action-buttons">
                <button class="btn" ng-click="search()">Pesquisar</button>
                <button class="btn" ng-click="clear();">Limpar</button>
            </div>
        </div>

        <datalist id="fieldsName">
            <option value="{{field}}" ng-repeat="field in fields"></option>
        </datalist>

    </div>
</div>