<div class="container" id="login" ng-controller="login">
    <div class="row ">
        <div class="col l6 m12 s12 border border-dark rounded login-area">
            <h1 class="text-center">PowerGED</h1>
            <form>
                <div class="input-field">
                    <label for="name">Nome de Usuário:</label>
                    <input type="text" class="form-control" ng-model="username" id="name">
                </div>
                <div class="input-field">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" ng-model="password" id="password">
                </div>
                <div class="input-field">
                    <button class="form-control btn btn-primary orange darken-1" ng-click="loginClick()" id="btn-login" type="submit">Entrar</button>
                </div>
            </form>

            <div ng-show="message" class="card red">
                <div class="card-content white-text">
                    <div class="card-title">Erro!</div>
                    <span>{{message}}</span>
                </div>
            </div>
        </div>
    </div>
</div>