<link rel="stylesheet" href="styles/viewer.css">

<div ng-controller="viewer">
    <div class="navbar-fixed ">
        <nav>
            <div class="nav-wrapper light-blue orange darken-1">
                <a href="#!" class="brand-logo">POWER GED</a>
                <a href="#" data-activates="sidebar-left" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <a href="#" data-activates="mobile-search" class="button-collapse side-nav-right right show-on-large">
                    <i class="material-icons">search</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a>
                            <i class="material-icons">more_vert</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col s12">

            <div class="side-nav" id="mobile-search">
                <div class="row">
                    <h5 class="center-align">Pesquisa</h5>
                    <hr>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">filter_list</i>
                        <select>
                            <option value="0" selected>Texto Completo</option>
                            <option value="1">Contextual</option>
                        </select>
                        <label>Tipo de Pesquisa</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text">
                        <label>Pesquisa</label>
                    </div>
                    <ul class="collapsible col s12" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">menu</i>Avançado</div>
                            <div class="collapsible-body">
                                <input type="text" placeholder="Nome">
                            </div>
                        </li>
                    </ul>
                    <div class="col s12">
                        <button class="btn btn-sm">Pesquisar</button>
                    </div>
                </div>
            </div>

            <div id="sidebar-left" class="side-nav fixed" ng-controller="treeview">
                <div class="row">
                    <h5 class="center-align">Bases</h5>
                    <hr>
                </div>
                <div class="row">
                    <div class="col s12">
                        <select class="browser-default" ng-model="selectedBaseID" ng-change="updateTreeView()">
                            <option value="{{base.id}}" ng-repeat="base in basesName">{{base.name}}</option>
                            <option value="" disabled selected>Selecione uma base</option>
                        </select>
                    </div>
                </div>

                <div id="treeview">
                    <div treecontrol class="tree-classic" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)"
                        selected-node="node1">
                        Funcionário: {{node.name}} - Idade {{node.age}}
                    </div>
                </div>
            </div>

            <div id="file-viewer" class="side-nav">
                <div class="row">
                    <a class="close-view">
                        <i class="material-icons black-text small">close</i>
                    </a>
                    <h5 class="center-align"> Visualizador</h5>
                    <hr>
                </div>
                <div class="row col s12 l12 m12">
                </div>
                <div class="row">
                    <div class="col s12 l12 m12">
                        <!-- <iframe src= "image/fatura.pdf" width="100%" height="500px" ></iframe> -->
                        <div class="card">
                            <div class="card-image">
                                <img src="image/power_filial.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data de Criação</th>
                        <th>Data de Modificação</th>
                        <th>Visualizador</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="modal-trigger" href="#fields">
                        <a data-activates="slide-out">
                            <td>Teste</td>
                            <td>07/02/2018</td>
                            <td>07/02/2018</td>
                            <td>
                                <button data-activates="file-viewer" class="button-collapse show-on-large side-nav-right btn btn-sm">
                                    <i class="material-icons">visibility</i>
                                </button>
                            </td>
                        </a>
                    </tr>
                </tbody>
            </table>
            <div id="fields" class="modal bottom-sheet modal-fields">

                <div class="modal-content ">
                    <a href="#" class="modal-action modal-close">
                        <i class="material-icons black-text small">close</i>
                    </a>
                    <div class="row">
                        <h4>Campos Indexados</h4>
                    </div>
                    <div class="row">
                        <div class="col s3">
                            <p>
                                <span class="field-name">Empresa:</span> Power Imaging</p>
                            <p>
                                <span class="field-name">Endereço:</span> Carlos Von Koseritsky, 456</p>
                        </div>
                        <div class="col s3">
                            <p>
                                <span class="field-name">Empresa:</span> Power Imaging</p>
                            <p>
                                <span class="field-name">Endereço:</span> Carlos Von Koseritsky, 456</p>
                        </div>
                        <div class="col s3">
                            <p>
                                <span class="field-name">Empresa:</span> Power Imaging</p>
                            <p>
                                <span class="field-name">Endereço:</span> Carlos Von Koseritsky, 456</p>
                        </div>
                        <div class="col s3">
                            <p>
                                <span class="field-name">Empresa:</span> Power Imaging</p>
                            <p>
                                <span class="field-name">Endereço:</span> Carlos Von Koseritsky, 456</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>