<link rel="stylesheet" href="styles/viewer.css">

<div ng-controller="viewer">
    <div class="navbar-fixed ">
        <nav>
            <div class="nav-wrapper  light-blue orange darken-1">
                <a href="#!" class="brand-logo">POWER GED</a>
                <a href="#" data-activates="sidebar-left" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <a href="#" data-activates="mobile-search" class="button-collapse right">
                    <i class="material-icons">search</i>
                </a>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="side-nav" id="mobile-search">
                <div class="input-field col s12">
                    <select>
                        <option value="0" selected>Texto Completo</option>
                        <option value="1">Contextual</option>
                    </select>
                    <label>Tipo de Pesquisa</label>
                </div>
            </div>
            <div id="sidebar-left" class="side-nav fixed">
                <div id="treeview">
                    <div treecontrol class="tree-classic" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)"
                        selected-node="node1">
                        Funcionário: {{node.name}} - Idade {{node.age}}
                    </div>
                </div>
            </div>

            <div class="content">

                <div id="search-profile" ng-show="advancedOption">
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>

                        <input type="submit" class="btn btn-sm" value="Enviar">
                    </div>
                </div>

                <table class="striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data de Criação</th>
                            <th>Data de Modificação</th>
                            <th>Visualizador</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Teste</td>
                            <td>07/02/2018</td>
                            <td>07/02/2018</td>
                            <td>
                                <a href="#" class=""><i data-activates="sidebar-right"  class="material-icons button-collapse view show-on-large">search</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="sidebar-right" class="side-nav viewer" id="">
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</div>